#title h1 {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  margin-left: 1.25%;
  margin-right: 1.25%;
}

div {
  background-size: cover;
}

body {
  background-size: cover;
  margin: 0px;
}
#first {
  filter: hue-rotate(180deg);
}

#first:hover {
  filter: hue-rotate(0deg);
}
